<a href="https://colab.research.google.com/github/CedigTiagoSerra/Journaling/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

## 1.History of Python

Python was created in 1989 by Guido van Rossum at CWI in the Netherlands as a simple, readable programming language that combined the power of C with the ease of shell scripting. It was released publicly in 1991 as Python 1.0, followed by Python 2.0 in 2000, which introduced features like list comprehensions and Unicode, but was officially discontinued in 2020. Python 3.0, launched in 2008, fixed design flaws and is the version widely used today. The name “Python” was inspired not by the snake, but by the British comedy show “Monty Python’s Flying Circus”, which Guido enjoyed and wanted the language to reflect — being fun and approachable as well as powerful.

**Infographic of Python’s history:**

<img src="https://raw.githubusercontent.com/CedigTiagoSerra/Journaling/refs/heads/main/resources/img/python_history.png" width="350" />

## 2.Introduction to Python

### 2.1 Variables and Operators

A variable is used to store information that can be referenced later on.

In [2]:
result = 3 * 5
result

15

#### 2.1.1 Python data types

##### 2.1.1.1 Integer

The Python integer is a non-fractional number, like 1, 2, 45, -1, -2, and -100. It’s one of the three types of numbers.

In [36]:
integer = 98762345098709872345000
integer + 1
integer

98762345098709872345000

In [37]:
# String to integer
int('100')

100

In [38]:
# Integer to string
str(200)

'200'

In [39]:
# Float to integer
int(2.3)

2

In [40]:
# Random
import random
random.randint(1,10)

9

We can use the type() function to check if a value is an integer.

In [41]:
type(2)

int

In [42]:
if isinstance(2, int):
  print('An integer')

An integer

##### 2.1.1.2 Float

A Python float is a numerical data type that represents a floating-point number.

In [43]:
f = 1.45
f

1.45

In [44]:
f = float(2.0)
f = float(2)
f = float("2")
f

2.0

In [45]:
f = 1.45e3
f

1450.0

**Round, floor, and upper**

With floats, we often need to round numbers. For this, Python has the round function. The round function accepts two arguments: the number itself and an optional precision (the number of decimals). The default for this last number is 0, meaning that it will round to whole integers. Some examples:

In [46]:
f = 1.4567
round(f)
f

1.4567

In [47]:
round(f, 2)

1.46

In [48]:
f = 1.54
round(f)

2

In [49]:
round(f, 1)

1.5

In [50]:
from math import floor, ceil
# Round 1.23 down to the nearest integer
x = floor(1.23)  # x will be 1
x

1

In [51]:
from math import floor, ceil
# Round 1.23 up to the nearest integer
y = ceil(1.23)  # y will be 2
y

2

##### 2.1.1.3 Tuple

In Python, a tuple is an ordered and immutable collection of elements.
This means:
*   Ordered → It preserves the order in which the items were added;
*   Immutable → Once created, you cannot change, add, or remove elements;
*   Can hold different data types → Numbers, strings, lists, etc;
*   Uses parentheses () to define it (unlike lists, which use []).

In [52]:
# Creating a tuple
my_tuple = (1, "Python", 3.14)

# Accessing elements
print(my_tuple[0])   # Output: 1
print(my_tuple[1])   # Output: Python

# Length of tuple
print(len(my_tuple)) # Output: 3

1
Python
3

##### 2.1.1.4 Lists

A list is an ordered and mutable collection of elements.


*   Ordered → Maintains the order of items;
*   Mutable → You can add, remove, or modify elements after creating it;
*   Can hold different data types → Numbers, strings, objects, even other lists;
*   Uses square brackets [] to define it.

In [53]:
# Creating a list
my_list = [1, "Python", 3.14]

# Accessing elements
print(my_list[0])   # Output: 1

# Adding an element
my_list.append("New item")
print(my_list)      # Output: [1, "Python", 3.14, "New item"]

# Modifying an element
my_list[1] = "JavaScript"
print(my_list)      # Output: [1, "JavaScript", 3.14, "New item"]

1
[1, 'Python', 3.14, 'New item']
[1, 'JavaScript', 3.14, 'New item']

##### 2.1.1.5 Set

A set is an unordered collection of unique elements.

*   Unordered → The items don’t have a fixed position (no indexing);
*   Unique values → Duplicates are automatically removed;
*   Mutable → You can add or remove elements, but not modify them directly;
*   Uses curly braces {} or the set() constructor.

In [54]:
# Creating a set
my_set = {1, 2, 3, 3, 4}

print(my_set)  # Output: {1, 2, 3, 4} (duplicates removed)

# Adding an element
my_set.add(5)
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Removing an element
my_set.remove(2)
print(my_set)  # Output: {1, 3, 4, 5}

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 3, 4, 5}

##### 2.1.1.6 Dictionary

A dictionary is a collection of key–value pairs where each key is unique.

*   Key–Value Structure → You access values using a key instead of an index;
*   Mutable → You can add, remove, or modify items;
*   Keys are unique; values can be duplicated;
*   Uses curly braces {} with a key: value format.

In [55]:
# Creating a dictionary
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Accessing values by key
print(my_dict["name"])  # Output: Alice

# Adding a new key-value pair
my_dict["country"] = "USA"

# Modifying a value
my_dict["age"] = 26

# Removing a key-value pair
del my_dict["city"]

print(my_dict)
# Output: {'name': 'Alice', 'age': 26, 'country': 'USA'}

Alice
{'name': 'Alice', 'age': 26, 'country': 'USA'}

#### 2.1.2 Operators