<a href="https://colab.research.google.com/github/CedigTiagoSerra/Journaling/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

## 1.History of Python

Python was created in 1989 by Guido van Rossum at CWI in the Netherlands as a simple, readable programming language that combined the power of C with the ease of shell scripting. It was released publicly in 1991 as Python 1.0, followed by Python 2.0 in 2000, which introduced features like list comprehensions and Unicode, but was officially discontinued in 2020. Python 3.0, launched in 2008, fixed design flaws and is the version widely used today. The name “Python” was inspired not by the snake, but by the British comedy show “Monty Python’s Flying Circus”, which Guido enjoyed and wanted the language to reflect — being fun and approachable as well as powerful.

**Infographic of Python’s history:**

<img src="https://raw.githubusercontent.com/CedigTiagoSerra/Journaling/refs/heads/main/resources/img/python_history.png" width="350" />

## 2.Introduction to Python

### 2.1 Variables and Operators

A variable is used to store information that can be referenced later on.

In [ ]:
result = 3 * 5
result

15

#### 2.1.1 Python data types

##### 2.1.1.1 Integer

The Python integer is a non-fractional number, like 1, 2, 45, -1, -2, and -100. It’s one of the three types of numbers.

In [ ]:
integer = 98762345098709872345000
integer + 1
integer

98762345098709872345000

In [ ]:
# String to integer
int('100')

100

In [ ]:
# Integer to string
str(200)

'200'

In [ ]:
# Float to integer
int(2.3)

2

In [ ]:
# Random
import random
random.randint(1,10)

9

We can use the type() function to check if a value is an integer.

In [ ]:
type(2)

int

In [ ]:
if isinstance(2, int):
  print('An integer')

An integer

##### 2.1.1.2 Float

A Python float is a numerical data type that represents a floating-point number.

In [ ]:
f = 1.45
f

1.45

In [ ]:
f = float(2.0)
f = float(2)
f = float("2")
f

2.0

In [ ]:
f = 1.45e3
f

1450.0

**Round, floor, and upper**

With floats, we often need to round numbers. For this, Python has the round function. The round function accepts two arguments: the number itself and an optional precision (the number of decimals). The default for this last number is 0, meaning that it will round to whole integers. Some examples:

In [ ]:
f = 1.4567
round(f)
f

1.4567

In [ ]:
round(f, 2)

1.46

In [ ]:
f = 1.54
round(f)

2

In [ ]:
round(f, 1)

1.5

In [ ]:
from math import floor, ceil
# Round 1.23 down to the nearest integer
x = floor(1.23)  # x will be 1
x

1

In [ ]:
from math import floor, ceil
# Round 1.23 up to the nearest integer
y = ceil(1.23)  # y will be 2
y

2

##### 2.1.1.3 Tuple

In Python, a tuple is an ordered and immutable collection of elements.
This means:
*   Ordered → It preserves the order in which the items were added;
*   Immutable → Once created, you cannot change, add, or remove elements;
*   Can hold different data types → Numbers, strings, lists, etc;
*   Uses parentheses () to define it (unlike lists, which use []).

In [ ]:
# Creating a tuple
my_tuple = (1, "Python", 3.14)

# Accessing elements
print(my_tuple[0])   # Output: 1
print(my_tuple[1])   # Output: Python

# Length of tuple
print(len(my_tuple)) # Output: 3

1
Python
3

##### 2.1.1.4 Lists

A list is an ordered and mutable collection of elements.


*   Ordered → Maintains the order of items;
*   Mutable → You can add, remove, or modify elements after creating it;
*   Can hold different data types → Numbers, strings, objects, even other lists;
*   Uses square brackets [] to define it.

In [ ]:
# Creating a list
my_list = [1, "Python", 3.14]

# Accessing elements
print(my_list[0])   # Output: 1

# Adding an element
my_list.append("New item")
print(my_list)      # Output: [1, "Python", 3.14, "New item"]

# Modifying an element
my_list[1] = "JavaScript"
print(my_list)      # Output: [1, "JavaScript", 3.14, "New item"]

1
[1, 'Python', 3.14, 'New item']
[1, 'JavaScript', 3.14, 'New item']

##### 2.1.1.5 Set

A set is an unordered collection of unique elements.

*   Unordered → The items don’t have a fixed position (no indexing);
*   Unique values → Duplicates are automatically removed;
*   Mutable → You can add or remove elements, but not modify them directly;
*   Uses curly braces {} or the set() constructor.

In [ ]:
# Creating a set
my_set = {1, 2, 3, 3, 4}

print(my_set)  # Output: {1, 2, 3, 4} (duplicates removed)

# Adding an element
my_set.add(5)
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Removing an element
my_set.remove(2)
print(my_set)  # Output: {1, 3, 4, 5}

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 3, 4, 5}

##### 2.1.1.6 Dictionary

A dictionary is a collection of key–value pairs where each key is unique.

*   Key–Value Structure → You access values using a key instead of an index;
*   Mutable → You can add, remove, or modify items;
*   Keys are unique; values can be duplicated;
*   Uses curly braces {} with a key: value format.

In [ ]:
# Creating a dictionary
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Accessing values by key
print(my_dict["name"])  # Output: Alice

# Adding a new key-value pair
my_dict["country"] = "USA"

# Modifying a value
my_dict["age"] = 26

# Removing a key-value pair
del my_dict["city"]

print(my_dict)
# Output: {'name': 'Alice', 'age': 26, 'country': 'USA'}

Alice
{'name': 'Alice', 'age': 26, 'country': 'USA'}

#### 2.1.2 Operators

##### 2.1.2.1. Arithmetic Operators

Used for mathematical calculations:

| Operator | Description | Example |
|----------|-------------|---------|
| +      | Addition | 5 + 3 = 8 |
| -      | Subtraction | 5 - 3 = 2 |
| *      | Multiplication | 5 * 3 = 15 |
| /      | Division | 5 / 2 = 2.5 |
| //     | Floor Division | 5 // 2 = 2 |
| %      | Modulus (remainder) | 5 % 2 = 1 |
| **     | Exponentiation | 2 ** 3 = 8 |

In [56]:
# Arithmetic Operators Example
a = 5
b = 2
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 7
a - b = 3
a * b = 10
a / b = 2.5
a // b = 2
a % b = 1
a ** b = 25

##### 2.1.2.2 Comparison Operators

Used to compare values, returning True or False.

| Operator | Description | Example |
|----------|-------------|---------|
| == | Equal to | 5 == 3 → False |
| != | Not equal | 5 != 3 → True |
| > | Greater than | 5 > 3 → True |
| < | Less than | 5 < 3 → False |
| >= | Greater or equal | 5 >= 3 → True |
| <= | Less or equal | 5 <= 3 → False |

In [57]:
# Comparison Operators Example
x = 5
y = 3
print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

##### 2.1.2.3 Logical Operators

Combine conditional statements.

| Operator | Description | Example |
|----------|-------------|---------|
| and | True if **both** conditions are True | 5 > 3 and 2 < 4 → True |
| or | True if **one** condition is True | 5 > 3 or 2 > 4 → True |
| not | Reverses True/False | not(5 > 3) → False |

In [58]:
# Logical Operators Example
a = True
b = False
print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)

a and b: False
a or b: True
not a: False

##### 2.1.2.4 Assignment Operators

Used to assign values and modify variables.

| Operator | Example | Equivalent to |
|----------|---------|---------------|
| = | x = 5 | x = 5 |
| += | x += 3 | x = x + 3 |
| -= | x -= 3 | x = x - 3 |
| *= | x *= 3 | x = x * 3 |
| /= | x /= 3 | x = x / 3 |
| //= | x //= 3 | x = x // 3 |
| %= | x %= 3 | x = x % 3 |
| **= | x **= 3 | x = x ** 3 |

In [59]:
# Assignment Operators Example
x = 10
x += 5
print("x after += 5:", x)
x *= 2
print("x after *= 2:", x)

x after += 5: 15
x after *= 2: 30

##### 2.1.2.5 Bitwise Operators

Work on binary numbers.

| Operator | Description | Example |
|----------|-------------|---------|
| & | AND | 5 & 3 → 1 |
| | | OR | 5 | 3 → 7 |
| ^ | XOR | 5 ^ 3 → 6 |
| ~ | NOT | ~5 → -6 |
| << | Left shift | 5 << 1 → 10 |
| >> | Right shift | 5 >> 1 → 2 |

In [60]:
# Bitwise Operators Example
a = 5  # 0101 in binary
b = 3  # 0011 in binary
print("a & b:", a & b)
print("a | b:", a | b)
print("a ^ b:", a ^ b)
print("~a:", ~a)
print("a << 1:", a << 1)
print("a >> 1:", a >> 1)

a & b: 1
a | b: 7
a ^ b: 6
~a: -6
a << 1: 10
a >> 1: 2

##### 2.1.2.7 Membership Operators

Check if a value exists in a sequence.

| Operator | Description | Example |
|----------|-------------|---------|
| in | True if value exists | 3 in [1,2,3] → True |
| not in | True if value does NOT exist | 4 not in [1,2,3] → True |

In [ ]:
# Membership Operators Example
nums = [1, 2, 3]
print("3 in nums:", 3 in nums)
print("4 not in nums:", 4 not in nums)

##### 2.1.2.8 Identity Operators

Check if two objects are the same in memory.

| Operator | Description | Example |
|----------|-------------|---------|
| is | True if objects are same | x is y |
| is not | True if objects are different | x is not y |

In [61]:
# Identity Operators Example
x = [1, 2]
y = x
z = [1, 2]
print("x is y:", x is y)
print("x is z:", x is z)
print("x is not z:", x is not z)

x is y: True
x is z: False
x is not z: True

#### 2.1.3 Enums

In Python, enum (enumeration) is a way to define named constant values.

In [8]:
from enum import Enum

class Color(Enum):
    RED = 1
    GREEN = 2
    BLUE = 3

print(Color.RED)        # Color.RED
print(Color.RED.name)   # 'RED'
print(Color.RED.value)  # 1

Color.RED
RED
1

#### 2.1.4 User Input

In [9]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: Tiago
Hello, Tiago

In Python, user input is taken using the built-in input() function.

### 2.2 Conditional and Looping Structures

#### 2.2.1 Conditional Structures

##### 2.2.1.1 if / elif / else

Used to make decisions in the code based on conditions.

In [1]:
age = 18

if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

##### 2.2.2.2 match/case

It's look like switch case:

In [7]:
command = "b"

match command:
    case "a":
        print("Option A")
    case "b":
        print("Option B")
    case "c":
        print("Option C")
    case _:
        print("Invalid Option")

Option B

#### 2.2.2 Looping Structures

Used to repeat a block of code multiple times. In Python, the two main types are:

##### 2.2.2.1 for loop

Iterates over sequences (lists, strings, ranges, etc.).

In [4]:
for i in range(5):
    print(i)  # Prints 0 to 4

0
1
2
3
4

In [5]:
mylist = [1, 'a', 'Hello']

# Loop over the list
for item in mylist:
    print(item)

1
a
Hello

#### 2.2.2.2 while loop

Repeats as long as a condition is true.

In [3]:
counter = 0
while counter < 5:
    print(counter)
    counter += 1

0
1
2
3
4

### 2.3 Functions

A Python function can be defined once and used many times. So it aids in code reuse: you don’t want to write the same code more than once.

Functions are a great way to keep your code short, concise, and readable. By giving a function a well-chosen name, your code will become even more readable because the function name directly explains what will happen. This way, others (or future you) can read your code, and without looking at all of it, understand what it’s doing anyway because of the well-chosen function names.

In [11]:
def say_hi(name = "earth"):
    print('Hi, ' + name)

print("Let's greet the entire world")
say_hi('world')
say_hi()

Let's greet the entire world
Hi, world
Hi, earth

### 2.4 Comments

A Python comment is an explanation in the source code of a Python program. It doesn’t do anything besides being informative and is ignored by the Python interpreter.

In [12]:
# This is a single-line comment in Python
print('Hello')
# And here's another one!

Hello